{% extends 'review/base.html' %} {% block content %}
<form action="/review/create" method="post">
	{% csrf_token %}
	<input name="title" placeholder="이름" />
	<br />
	<input name="released_year" , type="number" placeholder="개봉년도" />
	<br />

	<select name="genre">
		{% for i in post.genre %} {{i}} {%endfor%}
	</select>

	<br />

	<input name="director" placeholder="감독" />
	<br />
	<input name="actor" placeholder="배우" />
	<br />
	<input name="time" type="number" placeholder="러닝 타임" />
	<br />
	<input
		name="star_rating"
		placeholder="별점"
		type="number"
		min="0"
		max="5"
		step="0.1"
	/>
	<br />
	<textarea name="review" placeholder="리뷰 내용"></textarea>
	<div>
		<input type="submit" value="저장" />
	</div>
</form>
{%endblock%}
